<!DOCTYPE html>
<html lang="es">
<head>
	<%- include('partials/header') -%>
</head>
<body>
<div id="wrapper"> 

<%- include('partials/navbar', {active: 'capacitacion'}) -%>

<%- include('partials/brand', {title: details.nombre}) -%>

<section id="content">
	<section class="section-padding">
		<div class="container">
			<div class="row showcase-section">
				<div class="col-md-6" >
					<img src="<%= `img/cursos/${details.img}` %>" style="max-width: 500px;" alt="Docente fotografía">
				</div>
				<div class="col-md-6">
					<div class="about-text">
						<h3><span class="color">Descripción</span></h3>
						<p><%= details.descripcion %></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="block-heading-two">
					<h3><span>Temario</span></h3>
				</div>		
				<!-- Accordion starts -->
				<div class="panel-group" id="accordion-alt3">
					<% details.temario.forEach(function(topic, idx) { %>
					<div class="panel">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-alt3" href="<%= `#collapse${idx}-alt3` %>">
								<i class="fa fa-angle-right"></i><%= topic.titulo %>
								</a>
							</h4>
						</div>
						<div id="<%= `collapse${idx}-alt3` %>" class="panel-collapse collapse">
							<div class="panel-body">
								<%= topic.desc %>
							</div>
						</div>
					</div>
					<% }); %>
				</div>
				<!-- Accordion ends -->
			</div>
			<div class="col-md-4">
				<div class="block-heading-two">
					<h3><span>Profesor</span></h3>
				</div>
				<div class="testimonials">
					<div class="active item">
						<blockquote><p><%= details.profesor.cv %></p></blockquote>
						<div class="carousel-info">
							<img alt="" src="<%= `img/${details.profesor.foto}` %>" class="pull-left">
							<div class="pull-left">
								<span class="testimonials-name"><%= details.profesor.datos %></span>
								<span class="testimonials-post"><%= details.profesor.grado %></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="block-heading-two">
					<h3><span>Detalles</span></h3>
				</div>
				<div class="detail_assig">
					<i class="material-icons">date_range</i>&nbsp;<h5>Inicio de clases</h5>
					<br>&nbsp;&nbsp;<span><%= details.fecha_inicio %></span>
					<br><br>
					<i class="material-icons">timelapse</i>&nbsp;<h5>Cierre de inscripciones</h5>
					<br>&nbsp;&nbsp;<span><%= details.fecha_cierre %></span>
					<br><br>
					<i class="material-icons">apartment</i>&nbsp;<h5>Lugar</h5>
					<br>&nbsp;&nbsp;<span><%= details.lugar %></span>
					<br><br>
					<i class="material-icons">assignment</i>&nbsp;<h5>Horarios</h5>
					<% details.horarios.forEach(function(sched) { %>
					<br>&nbsp;&nbsp;<span><%= sched.dia %></span> : <span class="sched_hour"><%= sched.hora %></span>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('partials/footer') -%>

</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>

<%- include('partials/scripts') -%>

<style>
	.detail_assig i {
		vertical-align: middle;
	}
	.detail_assig h5 {
		display: inline-block;
		text-transform: uppercase;
	}
	.detail_assig .sched_hour {
		font-size: 1.2rem;;
	}
</style>

</body>
</html>