<!DOCTYPE html>
<html lang="es">
<head>
	<%- include('partials/header') -%>
</head>
<body>
<div id="wrapper"> 

<%- include('partials/navbar', {active: 'capacitacion'}) -%>

<%- include('partials/brand', {title: details.nombre}) -%>

<section id="content">
	<section class="section-padding">
		<div class="container">
			<div class="row showcase-section">
				<div class="col-md-6" >
					<img src="<%= `img/cursos/${details.img}` %>" class="imgcurso" alt="Imagen Referencial Curso">
				</div>
				<div class="col-md-6">
					<div class="about-text">
						<!-- <h3><span class="color">Descripción</span></h3> -->
						<p style="text-align:justify"><%= details.descripcion %></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="block-heading-two">
					<h3><span>Temario</span></h3>
				</div>		
				<!-- Accordion starts -->
				<div class="panel-group" id="accordion-alt3">
					<% details.temario.forEach(function(topic, idx) { %>
					<div class="panel">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-alt3" href="<%= `#collapse${idx}-alt3` %>">
								<i class="fa fa-angle-right"></i><%= topic.titulo %>
								</a>
							</h4>
						</div>
						<div id="<%= `collapse${idx}-alt3` %>" class="panel-collapse collapse">
							<div class="panel-body">
								<ul class="topics_detail">
								<% topic.desc.forEach(function(it) { %>
									<li><%= it %></li>
								<% }); %>
								</ul>
							</div>
						</div>
					</div>
					<% }); %>
				</div>
				<!-- Accordion ends -->
			</div>
			<div class="col-md-4">
				<div class="block-heading-two">
					<h3><span><%= (details.profesor.length > 1) ? 'Profesores' : 'Profesor' %></span></h3>
				</div>
				<% details.profesor.forEach(function(teach) { %>
				<div class="testimonials">
					<div class="active item" style="text-align:justify;">
						<blockquote><p><%= teach.cv %></p></blockquote>
						<div class="carousel-info">
							<img alt="" src="<%= `img/cursos/${teach.foto}` %>" class="pull-left">
							<div class="pull-left">
								<a href="<%= teach.linkedin %>" target="_blank"><span class="testimonials-name"><%= teach.datos %></span></a>
								<span class="testimonials-post"><%= teach.grado %></span>
							</div>
						</div>
					</div>
				</div>
				<br>
				<% }); %>
			</div>
			<div class="col-md-4">
				<div class="block-heading-two">
					<h3><span>Detalles</span></h3>
				</div>
				<div class="detail_assig">
					<i class="material-icons">date_range</i>&nbsp;<h5>Inicio de clases</h5>
					<br>&nbsp;&nbsp;<span><%= details.fecha_inicio %></span>
					<br><br>
					<i class="material-icons">apartment</i>&nbsp;<h5>Lugar</h5>
					<br>&nbsp;&nbsp;<span><%= details.lugar %></span>
					<br><br>
					<i class="material-icons">assignment</i>&nbsp;<h5>Horarios</h5>
					<% details.horarios.forEach(function(sched) { %>
					<br>&nbsp;&nbsp;<span><%= sched.dia %></span> : <span class="sched_hour"><%= sched.hora %></span>
					<% }); %>
					<br><br>
					<i class="material-icons">money</i>&nbsp;<h5>Inversión</h5>
					<% details.inversion.forEach(function(cost) { %>
					<br>&nbsp;&nbsp;<span><%= cost.tipo %></span> : <span class="sched_hour"><%= cost.monto %></span>
					<% }); %>
					<br><br>
				</div>
				<br><br>
				<a href="<%= details.inscripcion %>"><button target="_blank" class="btn btn-primary waves-effect waves-dark pull-right" style="width:300px;">Inscribirse</button></a> <br><br>
			</div>
		</div>
	</div>
</section>

<%- include('partials/contact', {field: 'home', title: 'Envíanos un mensaje'}) %>

<%- include('partials/footer') -%>

</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>

<%- include('partials/scripts') -%>

<style>
	.detail_assig i {
		vertical-align: middle;
	}
	.detail_assig h5 {
		display: inline-block;
		text-transform: uppercase;
	}
	.detail_assig .sched_hour {
		font-size: 1.2rem;;
	}
	ul.topics_detail li {
		list-style-type: square;
		font-size: 11px;
		margin-left: 1rem;
	}
	.testimonials blockquote {
		border: 1px solid #e3e3e3;
	}
</style>

</body>
</html>