<!DOCTYPE html>
<html lang="es">
<head>
	<%- include('partials/header') -%>
</head>
<body>
<div id="wrapper"> 
	
	<%- include('partials/navbar', {active: 'capacitacion'}) -%>

	<%- include('partials/brand', {title: details.nombre}) -%>

	<section id="content">
	<section class="section-padding">
		<div class="container">
			<div class="row showcase-section">
				<div class="col-md-6">
					<img src="<%= `img/${details.profesor_img}` %>" alt="Docente fotografía">
				</div>
				<div class="col-md-6">
					<div class="about-text">
						<h3>Our <span class="color">Company</span></h3>
						<p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Vivamus suscipit tortor eget felis porttitor volutpat. Cras ultricies ligula sed magna dictum porta. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar.</p>
						<p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo..</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="about">
			<div class="row">
				<div class="col-md-4">
					<!-- Heading and para -->
					<div class="block-heading-two">
						<h3><span>Why Choose Us?</span></h3>
					</div>
					<p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.<br/><br/>Sed ut perspiciaatis iste natus error sit voluptatem probably haven't heard of them accusamus.</p>
				</div>
				<div class="col-md-4">
					<div class="block-heading-two">
						<h3><span>Our Solution</span></h3>
					</div>		
					<!-- Accordion starts -->
					<div class="panel-group" id="accordion-alt3">
						<!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
						<div class="panel">
						<!-- Panel heading -->
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
									<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 1
									</a>
								</h4>
							</div>
							<div id="collapseOne-alt3" class="panel-collapse collapse">
							<!-- Panel body -->
								<div class="panel-body">
									Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
									<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 2
									</a>
								</h4>
							</div>
							<div id="collapseTwo-alt3" class="panel-collapse collapse">
								<div class="panel-body">
									Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
									<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 3
									</a>
								</h4>
							</div>
							<div id="collapseThree-alt3" class="panel-collapse collapse">
								<div class="panel-body">
									Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
									<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 4
									</a>
								</h4>
							</div>
							<div id="collapseFour-alt3" class="panel-collapse collapse">
								<div class="panel-body">
									Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
								</div>
							</div>
						</div>
					</div>
					<!-- Accordion ends -->
					
				</div>
				<div class="col-md-4">
					<div class="block-heading-two">
						<h3><span>Our Expertise</span></h3>
					</div>
					<h6>Web Development</h6>
					<div class="progress pb-sm">
						<!-- White color (progress-bar-white) -->
						<div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
							<span class="sr-only">40% Complete (success)</span>
						</div>
					</div>
					<h6>Designing</h6>
					<div class="progress pb-sm">
						<div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
							<span class="sr-only">40% Complete (success)</span>
						</div>
					</div>
					<h6>User Experience</h6>
					<div class="progress pb-sm">
						<div class="progress-bar progress-bar-lblue" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
							<span class="sr-only">40% Complete (success)</span>
						</div>
					</div>
					<h6>Development</h6>
					<div class="progress pb-sm">
						<div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
							<span class="sr-only">40% Complete (success)</span>
						</div>
					</div>
				</div>
			</div>
						
						 		
<div class="about home-about">
<div class="container">

<div class="row">
	<div class="col-md-4"> 
	<div class="block-heading-two">
			<h3><span>Features</span></h3>
		</div>	
	<div class="tab-section">
		<div class="s12">
		<ul class="tabs">
		<li class="tab col s4"><a href="#test1" class="waves-effect waves-dark">Test 1</a></li>
		<li class="tab col s4"><a class="waves-effect waves-dark active" href="#test2">Test 2</a></li>
		<li class="tab col s4"><a href="#test3" class="waves-effect waves-dark">Test 3</a></li> 
		</ul>
		</div>
		<div id="test1" class="col s12 container">Ande omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur. </div>
		<div id="test2" class="col s12 container">Terspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur. </div>
		<div id="test3" class="col s12 container">Perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur. </div> 
		</div>
	</div>
	<div class="col-md-4">
		<div class="block-heading-two">
			<h3><span>Latest News</span></h3>
		</div>		
		<!-- Accordion starts -->
	  <ul class="collapsible" id="accordionSection" data-collapsible="accordion">
		<li>
		  <div class="collapsible-header active"><i class="material-icons">filter_drama</i>First</div>
		  <div class="collapsible-body"><p>Perspiciaatis unde omnis iste natus error Nemo enim ipsam voluptatem quia voluptas sit aspernatur. sit voluptatem accusanti</p></div>
		</li>
		<li>
		  <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
		  <div class="collapsible-body"><p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur. Perspiciaatis unde omnis iste natus error sit voluptatem accusanti</p></div>
		</li>
		<li>
		  <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
		  <div class="collapsible-body"><p>Perspiciaatis Nemo enim ipsam voluptatem quia voluptas sit aspernatur. unde omnis iste natus error sit voluptatem accusanti</p></div>
		</li>
	  </ul>
								 <!-- Accordion ends -->
		
	</div>
	
	<div class="col-md-4">
		<div class="block-heading-two">
			<h3><span>Testimonials</span></h3>
		</div>	
			 <div class="testimonials">
				<div class="active item">
				  <blockquote><p>Lorem ipsum dolor met consectetur adipisicing. Aorem psum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p></blockquote>
				  <div class="carousel-info">
					<img alt="" src="img/team4.jpg" class="pull-left">
					<div class="pull-left">
					  <span class="testimonials-name">Marc Cooper</span>
					  <span class="testimonials-post">Technical Director</span>
					</div>
				  </div>
				</div>
			</div>
	</div>
	
</div>
						
<br> 
</div> 
</div>
						
						 
						<br>
						<!-- Our Team starts -->
				
						<!-- Heading -->
						<div class="block-heading-six">
							<h4 class="bg-color">Our Team</h4>
						</div>
						<br>
						
						<!-- Our team starts -->
						
						<div class="team-six">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="img/team3.jpg" alt="">
										<!-- Name -->
										<h4>Johne Doe</h4>
										<span class="deg">Master</span> 
									</div>
								</div>
							</div>
						</div>
						
						<!-- Our team ends -->
					  
						
					</div>
									
				</div>
	</section>
	
	<%- include('partials/footer') -%>

</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>

<%- include('partials/scripts') -%>

</body>
</html>