<!DOCTYPE html>
<html lang="es">
<head>
	<%- include('partials/header') -%>
</head>
<body>
<div id="wrapper" class="home-page"> 
	
	<%- include('partials/navbar', {active: 'index'}) -%>
	
	<!-- Slider -->
	<section id="banner">
		<div id="main-slider" class="flexslider">
			<ul class="slides">
				<li>
					<img src="img/slides/1.jpg" alt="" />
					<div class="flex-caption" style="font-family: 'Righteous', cursive;">
						<h3>Profesionales en Educación e Ingeniería para el sector Construcción y Saneamiento</h3>
					</div>
				</li>
				<li>
					<img src="img/slides/2.jpg" alt="" />
					<div class="flex-caption" style="font-family: 'Righteous', cursive;">
						<h3>Profesionales en Educación e Ingeniería para el sector Construcción y Saneamiento</h3>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<section id="about" class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>Quiénes somos</h2>
						<p>Somos un equipo de profesionales enfocados en brindar soluciones para el sector construcción y saneamiento en el país, brindando servicios de consultoría y capacitación especializados a profesionales y organizaciones, tanto del sector público como privado.
						<br>Contamos con un staff de profesionales altamente capacitados para brindarte la mejor información que hará que apliques tus nuevos conocimientos desde el primer día . . .</p>
						<a class="waves-effect waves-dark" href="/nosotros"> -> Saber más</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- end slider -->
	<section id="content"> 
	<div class="container">
		<section class="services">
			<div class="row">
				<div class="col-md-12">
					<div class="aligncenter">
						<h2 class="aligncenter">Servicios / Beneficios</h2>
					</div>
				</div>
			</div>

	 		<div class="row">
				<div class="col-sm-4 info-blocks">
					<div class="info-blocks-in">
						<i class="icon-info-blocks material-icons">perm_identity</i>
						<h3>Clases presenciales</h3>
						<div class="line"></div>
						<p>Las clases son 100% presenciales, en ambientes equipados y diseñados exclusivamente para la enseñanza.</p>
					</div>
				</div>
				<div class="col-sm-4 info-blocks"> 
					<div class="info-blocks-in">
						<i class="icon-info-blocks material-icons">card_membership</i>
						<h3>Certificados</h3>
						<div class="line"></div>
						<p>Los certificados son físicos, a nombre de la Institución y firmados por el/los especialista(s) que dictará(n) cada curso, y se entregarán al finalizar el curso, de acuerdo al record de asistencia y resultado de la evaluación.</p>
					</div>
				</div>
				<div class="col-sm-4 info-blocks">
					<div class="info-blocks-in">
						<i class="icon-info-blocks material-icons">important_devices</i>
						<h3>Material didáctico</h3>
						<div class="line"></div>
						<p>Los materiales se entregarán a inicio de clases en físico.</p>
					</div>
				</div>
			</div> 
		</section>
	</div>
	</section>

<section id="team" class="section">
      <div class="container">
        <div class="aligncenter">
			<h2 class="aligncenter">CURSOS RECIENTES</h2>
		</div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="single-team">
              <div class="team-thumb">
                <a href="/curso?slug=1" target="_blank" ><img src="img/slides/1.jpg" alt=""></a>
              </div>
              <div class="team-details">
                <div class="team-inner">
<<<<<<< HEAD
                  <strong><h4 class="team-title" > Diseño de sistemas de bombeo aplicados a saneamiento</h4></strong><br/>
                  <p style="text-align:justify;">En los proyectos de agua potable, alcantarillado e infraestructura en saneamiento, usualmente se requieren...</p><br>
                  <strong><p>Fecha Inicio: 08 de Febrero del 2020</p></strong><br/><br/>
                  <a href="/curso?slug=1"><button target="_blank" class="btn btn-primary waves-effect waves-dark pull-right">Ver más</button></a><br/><br/>
=======
                  <strong><h4 class="team-title"> Diseño de sistemas de bombeo aplicados a saneamiento</h4></strong><br/>
                  <p>En los proyectos de agua potable, alcantarillado e infraestructura en saneamiento, usualmente se requieren...</p>
                  <strong><p>Fecha Inicio: 08 de Febrero del 2020</p></strong><br/><br/>
                  <button class="btn btn-primary waves-effect waves-dark pull-right">Ver más</button><br/><br/>
>>>>>>> 2e8c3ce4cbd3278a57b0c073c09ddf017b0d8ca3
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="single-team">
              <div class="team-thumb">
                <a href="/curso?slug=1" target="_blank"><img src="img/slides/2.jpg" alt=""></a>

              </div>
              <div class="team-details">
                <div class="team-inner">
                  <strong><h4 class="team-title" >Invierte.pe</h4></strong><br/>
                  <p style="text-align:justify;">Programación Multianual y Gestión de Inversiones Públicas en Formulación y Evaluación el Marco de Invierte.pe</p><br>
                  <strong><p>Fecha Inicio: 01 de Febrero del 2020</p></strong><br/><br/>
                  <a href="/curso?slug=2" ><button target="_blank" class="btn btn-primary waves-effect waves-dark pull-right">Ver más</button></a><br/><br/>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- Team section End -->


	<%- include('partials/contact', {field: 'home', title: 'Envíanos un mensaje'}) %>


	
	<%- include('partials/footer') -%>
	
</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>

<%- include('partials/scripts') -%>

<style>
	.flex-caption {
		width: 100%;
		background-color: #0000007a;
		padding: 2px 40px;
	}
	.flex-caption h3 {
		font-size: 48px;
	}
	#about .withArrow p {
		margin-left: 20px;
	}
	#about .withArrow p i {
		vertical-align: bottom;
		font-size: 2rem;
	}
	@media (max-width: 767px) {
		.flex-caption h3 {
			font-size: 28px;
		}
	}
</style>

</body>
</html>